<section id="homePage" class="hero-unit center">
	<h1>Entrepreserve</h1>
	<p>
		Welcome to Entrepreserve!
		<%= pluralize @trees.length, "tree" %> made.
	</p>

	<%= render 'shared/recent_trees', trees: @trees, n: 10 %>
</section>
