<% provide( :title, 'Forgot Password' ) %>

<section>
	<h1>Sign in</h1>

	<%= form_tag request_reset_sessions_path do %>

		<%= label_tag :email %>
		<%= text_field_tag :email %>
		<br>
		<%= submit_tag 'Get new password' %>
	<% end %>

</section>