<!DOCTYPE html>
<html>

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>
	<p>
		To reset your password,
		<%= link_to "click here", @link %>.
	</p>
</body>

</html>
