<% provide( :title, 'Sign up' ) %>

<section>
	<h1>Sign Up</h1>

	<%= form_for @user, html: { class:"span8 ctr" } do |f| %>
		<%= render 'users/fields', f: f %>
		<br>
		<%= f.submit "Create Account", class:"btn btn-primary btn-large ctr" %>
		
	<% end %>
</section>