<% provide( :title, @tree.title ) %>

<section>
	<h1><%= @tree.title %></h1>

	<div class="row-fluid">

		<section class="span7">
		</section>


		<section class="span5 well" id="infoBox">
			<h2>Branches</h2>
		</section>

	</div>

</section>
