<% provide( :title, @tree.title ) %>

<section>
	<h1><%= @tree.title %></h1>

	<p class="text-center">
		<% if current_user?( @tree.owner ) %>
			<%= link_to "Edit", edit_tree_path( @tree ), id:"editTree", class:"btn btn-success" %>
		<% end %>
	</p>

	<div class="row-fluid">

		<section class="span7">
		</section>

		<section class="span5 well" id="infoBox">
			<h2>Branches</h2>
		</section>

	</div>

</section>
