/*
@import "bootstrap";

//Thanks! http://charliepark.org/bootstrap_buttons/
@mixin btn-custom( $top, $bottom ) { 
	@extend .btn;
	background-color: hsl(31, 100%, 29%) !important; 
	background-repeat: repeat-x; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$top", endColorstr="$bottom"); 
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ff8605), to(#934c00)); 
	background-image: -moz-linear-gradient(top, $top, $bottom); 
	background-image: -ms-linear-gradient(top, $top, $bottom); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff8605), color-stop(100%, #934c00)); 
	background-image: -webkit-linear-gradient(top, $top, $bottom); 
	background-image: -o-linear-gradient(top, $top, $bottom); 
	background-image: linear-gradient($top, $bottom); 
	border-color: $bottom $bottom hsl(31, 100%, 23.5%);
	color: #fff !important; 
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36); 
	-webkit-font-smoothing: antialiased; 
}

.btnBlue {
	@include btn-custom( #dab8b8, #a45454 );
	height: auto;
	padding: 8px;
}

.btnRed {
	@include btn-custom( #dab8b8, #a45454 );
	height: auto;
	padding: 8px;
}
*/