header {
	#loginArea {
		padding: 15px; 
		padding-bottom: 0px;
		text-align: center;
		input#signin {
			margin-top: -2px;
			width: 80px;
		}

		a#forgot {
			display: inline-block;
			margin-left: 15px;
		}
	}
}