/*
section#notifications {
	text-align: center;
	margin: 10px 0;

	> div {
		width: 50%;
		margin: 0 auto;
		padding: 15px;
		border-radius: 8px;
		border-style: solid;
		border-width: 1px;

		ul {
			list-style: none;
			margin: 0;
		}

		p {
			margin: 0; padding: 0;
		}
	}

	div#errors { 
		h3 {
			font-size: 1.4em;
			margin-top: 0;
			margin-bottom: 5px;
		}

		background-color: #FCC;
		border-color: #C99;
		color: #600;
	}
	div#alerts { 
		background-color: #CFC; 
		border-color: #9C9;
	}
	div#javascriptWarning { 
		background-color: #FAA; 
		border-color: #C99;
	}
}
*/