<section id="notifications" class="span6 ctr">

	<% alerts = [] %>
	<% if flash[:notice] %>
		<% alerts.push( flash[:notice] ) %>
	<% end %>
	<% if flash[:alert] %>
		<% alerts.push( flash[:alert] ) %>
	<% end %>

	<% errors = [] %>
	<% if flash[:error] %>
		<% errors << flash[:error] %>
	<% end %>
	<% yield(:form_errors) %>
	<% unless @form_errors.nil? %>
		<% errors = ( errors << @form_errors ).flatten %>
	<% end %>

	<div id="javascriptWarning" class="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<p>This site functions best with javascript enabled!</p>
	</div>

	<% unless alerts.empty? %>
		<div id="alerts"class="alert alert-info alert-block">
			<button type="button" class="close" data-dismiss="alert">&times;</button>

			<% alerts.each do |alert| %>
				<p><%= alert %></p>
			<% end %>
		</div>
	<% end %>

	<% unless errors.empty? %>
		<div id="errors" class="alert alert-error alert-block">
			<button type="button" class="close" data-dismiss="alert">&times;</button>

			<ul>
				<% errors.each do |error| %>
					<li><%= error %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

</section>